registry=https://registry.npmmirror.com
electron_mirror=https://cdn.npmmirror.com/binaries/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
python=C:\Users\YowaiNaegi\AppData\Local\Programs\Python\Python313\python.exe